<div>
<h1><%= @userinfo.email %></h1>
<h2>You have littered <%= @usercount.size %> time(s).</h2>
</div>

<div>
<% @lits.reverse.each do |lit| %>
  <% if @userinfo == lit.user %>
    <p>
      <tr>
        <div  class="lit">
          <h3 class="black"><td><%= link_to lit.user.email, user_profile_path(lit.user) %></td></h3>
          <h2><td><%= lit.body %></td></h2>
          <h3><td><%= lit.created_at %></td></h3>
          <span class="litter-button">
            <%= link_to "Delete", lit_path(lit.id), :confirm => "Are you sure?", :method => :delete %>
          </span>
        </div>
      </tr>
    </p>
  <% end %>
<% end %>
</div>
