<div>
<h1> <%= @userinfo.email %></h1>
<h2 class = "lit-msg"> Has littered <%= @usercount.size %> time(s).</h2>
</div>

<div class="row">
<div class="form-group col-md-6 offset-md-3">
<% @lits.reverse.each do |lit| %>
  <% if @userinfo == lit.user %>
    <p>
      <tr>
        <div class="lit">
          <h4 class="yeet"><td><%= link_to lit.user.email.split("@")[0], user_profile_path(lit.user) %></td></h4>
          <h2><td><%= lit.body %></td></h2>
          <h3><td><%= lit.created_at %></td></h3>
          <% if current_user.liked? lit %>
            <%= link_to dislike_lit_path(lit.id), method: :put do %>
                <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
                <%= lit.get_likes.size %>
            <% end %>
          <% else %>
            <%= link_to like_lit_path(lit), method: :put do %>
                <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
                <%= lit.get_likes.size %>
            <% end %>
          <% end %>
        </div>
      </tr>
    </p>
  <% end %>
<% end %>
<footer>
  <button type="button" class="btn btn-light">
  <%= link_to 'Back', lits_path %>
  </button>
</footer>
</div>
</div>
