<div>
  <% @lits.reverse.each do |lit| %>
    <tr>
      <h1><%= link_to lit.user.username, user_profile_path(lit.user) %></h1>
      <h2><td><%= lit.body %></td></h2>
      <h3><td><%= lit.created_at %></td></h3>
      <% if current_user.liked? lit %>
        <%= link_to dislike_lit_path(lit.id), method: :put do %>
          <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
          <%= lit.get_likes.size %>
        <% end %>
      <% else %>
      <%= link_to like_lit_path(lit), method: :put do %>
        <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
        <%= lit.get_likes.size %>
        <% end %>
      <% end %>
      <% if current_user == lit.user %>
        <%= link_to "Delete", lit_path(lit.id), :confirm => "Are you Certain?", :method => :delete %>
      <% end %>
    </tr>
  <% end %>
</div>

<%= link_to 'New Litter', new_lit_path(@user) %>
