<!DOCTYPE html>
<html>
  <head>
    <title>Litter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if user_signed_in? %>
      <div class="logged-in-as">
        Logged in as : <strong> <%= current_user.email.split("@")[0] %></strong>
        </div>
      <button type="button" class="btn btn-light">
          <button type="button" class="btn btn-light">
      <%= link_to 'New Litter', new_lit_path(@user), :class => 'navbar-link'%>
      </button>
      <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %>
      </button>
      <button type="button" class="btn btn-light">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      </button>
      <button type="button" class="btn btn-light">
      <%= link_to 'My Profile', user_profile_path(current_user.id), :class => 'navbar-link'%>
      </button>
      <% else %>
      <button type="button" class="btn btn-light">
        <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %>
              </button>
      <button type="button" class="btn btn-light">
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
        <% end %>
      </button>
    </nav>
    <%= yield %>


  </body>

  <footer class="footercopy">
    <p> &copy; Your intellectual property is now propery of Litter &trade; - All Rights Reserved Litter PTY LTD &trade; &copy; </p>
  </footer>

</html>
